* {
    font-family: Tahoma, sans-serif;
}

body {
    max-width: 75%;
    margin: 0 auto;
}

.main-header,
.sub-header {
    color: black;
    text-align: center;
    border: 3px solid black;
    padding-top: 5px;
    padding-bottom: 10px;
}

.image-container {
    text-align: center;
}

.image {
    height: auto;
    width: 500px;
    border: 3px solid black;
}

.main-header {
    background-color: palevioletred;
    font-size: 50px;
}

.sub-header {
    background-color: palegoldenrod;
    font-size: 40px;
}

.subsection {
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 15px;
}

li {
    margin-bottom: 15px;
}